---
sudo: false
language: ruby
cache: bundler
branches:
  only:
  - master
rvm:
- 2.4.9
- 2.5.7
- 2.6.5
- 2.7.0
- ruby-head
before_install:
- gem install bundler -v 2.1.2 --conservative --no-document
- gem install executable-hooks --conservative --no-document
