sudo: false
language: ruby
cache: bundler
rvm:
  - 2.3.8
  - 2.4.5
  - 2.5.3
  - 2.6.0
  - ruby-head
before_install:
  - gem update --system
  - gem install bundler -v "~> 2.0" --conservative --no-document
  - gem install executable-hooks --conservative --no-document
